@model ConsertoDeLivro.Models.Usuario
@{
    ViewBag.Title = "Excluir";
}

<link href="~/Content/FormsTelas.css" type="text/css" rel="stylesheet" />


<div class="divForm">
    <label class="lblTitulo">@ViewBag.Title</label>
    <hr />
    <div class="divColumn">
        <div class="margemEsquerda">
            @Html.LabelFor(user => user.Nome):&nbsp;
            <span>@Model.Nome</span>
        </div>
        <div class="margemEsquerda">
            @Html.LabelFor(user => user.UltimoNome):&nbsp;
            <span>@Model.UltimoNome</span>
        </div>
        <div class="margemEsquerda">
            @Html.LabelFor(user => user.CPF):&nbsp;
            <span>@Model.CPF</span>
        </div>
        <div class="margemEsquerda">
            @Html.LabelFor(user => user.Celular):&nbsp;
            <span>@Model.Celular</span>
        </div>
        <div class="margemEsquerda">
            @Html.LabelFor(user => user.Email):&nbsp;
            <span>@Model.Email</span>
        </div>
        <div class="margemEsquerda">
            <label>Endereço:&nbsp;</label>
            <span>@Model.Logradouro, @Model.Numero - @Model.Bairro</span>
        </div>
        <div class="margemEsquerda">
            @Html.LabelFor(user => user.Cidade):&nbsp;
            <span>@Model.Cidade</span>
        </div>
        <div class="margemEsquerda">
            @Html.LabelFor(user => user.Estado):&nbsp;
            <span>@Model.Estado</span>
        </div>
        <div class="margemEsquerda">
            <label>Administrador</label>:&nbsp;
            @if (Model.Adm) {
                <span>Sim</span>
            } else {
                <span>Não</span>
            }
        </div>
        <div class="margemEsquerda">
            <label>Desenvolvedor</label>:&nbsp;
            @if (Model.Dev) {
                <span>Sim</span>
            } else {
                <span>Não</span>
            }
        </div>
        <hr />
        <div class="divBtns">
            <input type="submit" value="Excluir" class="btn btn-success" />
            <a href="/ConsertoDeLivro/Index">Voltar</a>
        </div>
    </div>
</div>
