@using ConsertoDeLivro.Models
@model ConsertoDeLivro.Models.Pedido

@{
    ViewBag.Title = "Criar novo pedido";
    Usuario usuario = Session["Usuario"] as Usuario;
    Endereco end = new Endereco();
}

<link href="~/Content/FormsTelas.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm()) {
    <div class="divForm">
        <label class="lblTitulo">@ViewBag.Title</label>
        <hr />

        <div class="infoPedido">
            <div>
                <div class="dados">
                    <div>
                        @Html.LabelFor(model => model.Largura)
                        <span>
                            @Html.EditorFor(model => model.Largura) cm
                        </span>
                    </div>
                </div>
                <div class="dados">
                    <div>
                        @Html.LabelFor(model => model.Comprimento)
                        <span>
                            @Html.EditorFor(model => model.Comprimento) cm
                        </span>
                    </div>
                </div>
                <div class="dados">
                    <div>
                        @Html.LabelFor(model => model.Expessura)
                        <span>
                            @Html.EditorFor(model => model.Expessura) cm
                        </span>
                    </div>
                </div>
                <div class="dados">
                    <div>
                        <label>Material</label>
                        @Html.DropDownList("MaterialID", null, htmlAttributes: new { @class = "" })
                    </div>
                </div>
                <div class="dados">
                    <div>
                        <label>Descrição</label>
                        @Html.TextAreaFor(model => model.Descricao, new { @cols = "50", @rows = "6", @maxlength = "200" })
                    </div>
                </div>
            </div>
            <div class="infoValor">
                <div class="valor">
                    <span>R$</span>
                    <label id="preco">0,00</label>
                </div>
                <div class="pag">
                    <span>Formas de pagamento:</span>
                    <div class="opcoesPag">
                        <ul>
                            <li>PIX</li>
                            <li>Dinheiro</li>
                            <li>Cartao de Credito</li>
                            <li>Cartao de Debito</li>
                        </ul>
                    </div>
                    <span class="text-danger bold">**O pagamento é realizado na retirada do material.</span>
                </div>
            </div>
        </div>

        <div class="aviso">
            <label class="avisotitulo">Aviso importante!</label>
            <label>
                Após realizar o seu pedido, o mesmo ficará com o status "Aguardando". Quando o status mudar para "Confirmado". Você precisará levar o seu livro ao endereço abaixo:
                <br />
                @end.getEndCurto()
            </label>
        </div>

        <hr />
        <div class="divBtns">
            @if (usuario != null) {
                <input type="submit" value="Fazer pedido" class="btn btn-success" />
            } else {
                TempData["Orcamento"] = Model;
                @Html.ActionLink("Criar uma conta", "Criar", "Usuario", null, new { @class = "btn btn-success" })
            }

            @Html.ActionLink("Cancelar", "Index", "ConsertoDeLivro", null, new { @class = "btn btn-danger" })
        </div>
    </div>
}

