@model ConsertoDeLivro.Models.Material
@{
    ViewBag.Title = "Atualizar material";
}

<link href="~/Content/FormsTelas.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bumbleblee.js" type="text/javascript"></script>

@using (Html.BeginForm()) {
    <div class="divForm">
        <label class="lblTitulo">@ViewBag.Title</label>
        <hr />
        @Html.HiddenFor(model => model.Id)
        <div class="divCorpo">
            <div>
                <label>Codigo do produto</label>
                @Html.EditorFor(model => model.Codigo)
            </div>
        </div>
        <div class="divCorpo">
            <div>
                @Html.LabelFor(model => model.Nome)
                @Html.EditorFor(model => model.Nome)
            </div>
        </div>
        <div class="divCorpo">
            <div>
                <label>Valor (R$)</label>
                @Html.TextBoxFor(model => model.ValorMetro, new { @onkeydown = "campoNumerico(event)", @maxlength = "6" })
            </div>
        </div>
        <div class="divCorpo">
            <div>
                @Html.LabelFor(model => model.Descricao)
                @Html.TextAreaFor(model => model.Descricao, new { @cols = "50", @rows = "6", @maxlength = "200" })
            </div>
        </div>
        <hr />
        <div class="divBtns">
            <input type="submit" value="Atualizar material" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "ListaMateriais", "Material")
        </div>
    </div>
}

