@model ConsertoDeLivro.Models.Material
@{
    ViewBag.Title = "Criar material";
}

<link href="~/Content/FormsTelas.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm()) {
    <div class="divForm">
        <label class="lblTitulo">@ViewBag.Title</label>
        <hr />
        <div class="divCorpo">
            <div>
                @Html.LabelFor(model => model.Codigo)
                @Html.EditorFor(model => model.Codigo)
                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="divCorpo">
            <div>
                @Html.LabelFor(model => model.Nome)
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="divCorpo">
            <div>
                @Html.LabelFor(model => model.Descricao)
                @Html.TextAreaFor(model => model.Descricao, new { @cols = "50", @rows = "6", @maxlength = "200" })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="divBtns">
            <input type="submit" value="Salvar material" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Index", "ConsertoDeLivro", null, new { @class = "btn btn-danger" })
        </div>
    </div>
}

