@using ConsertoDeLivro.Models;

@{
    Usuario usuario = Session["Usuario"] as Usuario;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja - @ViewBag.Title</title>
    <link rel="icon" href="~/Images/livros.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    <div class="divTop">
        <div class="btnsMenu">
            <a href="@Url.Action("Index", "ConsertoDeLivro")">
                <img src="~/Images/livros.png" alt="Logo" height="45" />
            </a>
            @Html.ActionLink("Home", "Index", "ConsertoDeLivro")
            @{
                if (usuario != null) {
                    if (usuario.Adm) {
                        @Html.ActionLink("Usuarios", "Lista", "Usuario")
                        @Html.ActionLink("Materiais", "ListaMateriais", "Material")
                    }
                    if (usuario.Dev) {
                        @Html.ActionLink("Pedidos", "ListaPedidos", "Pedido", new { id = 0 }, null)
                    }
                }
            }
        </div>
        <div class="btnsEntrarCadastrar">
            @{
                if (usuario != null) {
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bem-vindo, @usuario.Nome <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                            <a href="@Url.Action("CriarNovoPedido", "Pedido")">
                                &nbsp;Novo pedido
                            </a><br />
                            <a href="@Url.Action("ListaPedidos", "Pedido", new { id = usuario.UsuarioID })">
                                &nbsp;Meus pedidos
                            </a><br />
                            <a href="@Url.Action("InfoUser", "Usuario")">
                                &nbsp;Meus dados
                            </a><br />
                            <hr />
                            <a href="@Url.Action("Sair", "ConsertoDeLivro")"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Sair</a>
                        </div>
                    </div>
                } else {
                    @Html.ActionLink("Entrar", "Login", "ConsertoDeLivro")
                    @Html.ActionLink("Cadastrar Usuario", "Criar", "Usuario")
                }
            }
        </div>
    </div>

    <div class="divBody">
        @RenderBody()
        <hr />
        <footer class="centralizado">
            <p>&copy; @DateTime.Now.Year - Conserto e Personalização de Livros</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>