<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Images/livros.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Roboto&display=swap" rel="stylesheet">
    @Styles.Render("~/FormLogin/css")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bumbleblee/js")
</head>
<body>
    <div>
        <div class="divLogin">
            <img src="~/Images/livros.png" alt="Logo" height="100" />
            @RenderBody()
        </div>
    </div>
    <br />
    <footer>
        <p>&copy; @DateTime.Now.Year - Conserto e Personalização de Livros</p>
    </footer>
</body>
</html>
