@using ConsertoDeLivro.Models;

@{
    Usuario usuario = Session["Usuario"] as Usuario;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja - @ViewBag.Title</title>
    <link rel="icon" href="~/Images/livros.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    <div class="divTop">
        <div class="btnsMenu">
            <a href="@Url.Action("Index", "ConsertoDeLivro")">
                <img src="~/Images/livros.png" alt="Logo" height="45" />
            </a>
            @Html.ActionLink("Home", "Index", "ConsertoDeLivro")
            <a href="/Pedido/Avaliacao">Avaliações</a>
            @{
                if (usuario != null) {
                    if (usuario.Adm) {
                        @Html.ActionLink("Usuarios", "Lista", "Usuario")
                        @Html.ActionLink("Materiais", "ListaMateriais", "Material", null, new { onclick = "material()" })
                        @Html.ActionLink("Pedidos", "ListaPedidos", "Pedido")
                    } else {
                        @Html.ActionLink("Meus pedidos", "ListaPedidos", "Pedido")
                    }
                }
            }
            @Html.ActionLink("Contato", "Contato", "ConsertoDeLivro")
        </div>
        <div class="btnsEntrarCadastrar">
            @{
                if (usuario != null) {
                    <div class="dropdown">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" id="aUsuario" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Bem-vindo, @usuario.Nome <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("CriarNovoPedido", "Pedido")">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            &nbsp;Novo pedido
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ListaPedidos", "Pedido")">
                                            <span class="glyphicon glyphicon-th-list"></span>
                                            &nbsp;Meus pedidos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("InfoUser", "Usuario")">
                                            <span class="glyphicon glyphicon-user"></span>
                                            &nbsp;Meus dados
                                        </a>
                                    </li>
                                    <li class="divider" role="separator"></li>
                                    <li>
                                        <a href="@Url.Action("Sair", "ConsertoDeLivro")">
                                            <span class="glyphicon glyphicon-log-out"></span>
                                            &nbsp;Sair
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                } else {
                    @Html.ActionLink("Entrar", "Login", "ConsertoDeLivro", null, new { @class="entrar" })
                    @Html.ActionLink("Cadastrar Usuario", "Criar", "Usuario", null, new { @class="cadastrar" })
                }
            }
        </div>
    </div>

    <div class="divBody">
        @RenderBody()
        <hr />
        <footer class="centralizado">
            <p>&copy; @DateTime.Now.Year - Conserto e Personalização de Livros</p>
        </footer>
    </div>    
</body>
</html>