@model ConsertoDeLivro.Models.Usuario

@{
    ViewBag.Title = "ENTRAR";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<label class="lblTitulo">@ViewBag.Title</label>
@using (Html.BeginForm()) {
    <br />
    <div>
        <label>Email</label>
        @Html.EditorFor(m => m.Email)
    </div>
    <br />
    <div>
        <label>Senha</label>
        @Html.PasswordFor(m => m.Senha)
        <span class="msgErro">@ViewBag.MsgErro</span>
    </div>
    <br />
    <div>
        @Html.ActionLink("Não tem uma conta? Crie uma clicando aqui", "Criar", "Usuario")
    </div>
    <br />
    <div>
        <input class="btn btn-success" type="submit" value="Entrar">
    </div>
    <br />
    <div>
        @Html.ActionLink("Cancelar", "Cancelar", "ConsertoDeLivro", "", new { @class = "btnCancelar centralizado" })
    </div>
}
