@model ConsertoDeLivro.Models.Usuario

@{
    ViewBag.Title = "Entrar";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<label class="lblTitulo">@ViewBag.Title</label>
@using (Html.BeginForm()) {
    <br />
    <label>@TempData["userNome"]</label>
    <div>
        <input type="text" placeholder="Email" id="Email" name="Email" value="@TempData["userEmail"]" />
    </div>
    <br />
    <div>
        <input type="password" placeholder="Senha" name="Senha" />
        <label class="msgErro">@ViewBag.MsgErro</label>
    </div>
    <br />
    <div>
        @Html.ActionLink("Não tem uma conta? Crie uma clicando aqui", "Criar", "Usuario")
    </div>
    <br />
    <div>
        <input class="btn btn-success" type="submit" value="Entrar">
    </div>
    <br />
    <div class="divBtns">
        @Html.ActionLink("Cancelar", "Cancelar", "ConsertoDeLivro", "", new { @class = "btnCancelar centralizado" })
        <a href="/ConsertoDeLivro/TrocarSenha">Esqueci a senha</a>
    </div>
}
